services: 
  frontend-app:
    build:
      context: .
      dockerfile: docker/app.dockerfile
    container_name: frontend-app
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    networks:
      - frontend_network

  nginx-frontend:
    build:
      context: .
      dockerfile: docker/nginx.dockerfile
    container_name: nginx-frontend
    ports:
      - "80:80"
    depends_on:
      - frontend-app
    restart: unless-stopped
    networks:
      - frontend_network

networks:
  frontend_network:
    driver: bridge
    name: frontend_network
    external: false