name: Build and Push to GHCR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login no GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build e push imagem
      uses: docker/build-push-action@v4
      with:
        context: ./frontend
        file: ./docker/app.dockerfile
        push: true
        tags: ghcr.io/lpinheirocl/angular-app:latest
